<template>
<div>
    <h1 class="text-center mt-5">Accueil</h1>
    <h2 class="repertoire offset-3" v-for="(liste, index) in this.donnees" :key="index">
        <router-link :to="{ path: 'liste', query: { id: index }}">
            {{liste.nom}}
        </router-link>
    </h2>
</div>
</template>

<script>
export default {
  name: 'accueil',
  data: function () {
    const listes = localStorage.getItem('listes')
    const donnees = JSON.parse(listes)
    return {
      donnees: donnees
    }
  }
}
</script>

<style>

</style>
