<template>

<div>
  <h1 class="text-center">Créer votre liste</h1>
  <form class="mt-4">

    <fieldset class="pos-field">
     <label class="h2 mb-3">Nom de votre Liste:</label>
     <br>
      <input type="text" v-model="nom"/>
      <br>
      <button class="submit mt-3" type="submit" @click=creerListe>Soumettre</button>
    </fieldset>
        <div v-if="erreurs.length > 0">
      <ul>
        <li class="erreur mr-5" v-for="(erreur, index) in erreurs" :key="index">{{erreur}}</li>
      </ul>
    </div>
  </form>
</div>
</template>

<script>
export default {
  name: 'creerListe',
  data: function () {
    return { erreurs: [], nom: '' }
  },
  methods: {
    creerListe: function () {
      if (!this.nom) {
        this.erreurs = ['*Le nom ne doit pas être vide']
      } else {
        let listes = localStorage.getItem('listes')
        let id
        if (listes === null) {
          listes = []
          id = 0
        } else {
          listes = JSON.parse(listes)
          id = listes.length
        }
        listes.push({ nom: this.nom, items: [], editable: true })
        localStorage.setItem('listes', JSON.stringify(listes))
        this.$router.push({ path: '/liste', query: { id: id, allo: 'aaa' } })
      }
    }

  }
}
</script>

<style>

</style>
