<template>
<div class="ligne">
  <div class="container">
    <div class="row text-center pt-3">
    <p class="col-2">{{this.nom}}</p>
    <p class="col-2 ico offset-4"  v-if="this.editable" @click=retrait()>&#8722;</p>
    <p class="col-2">{{this.qte}} x</p>
    <p class="col-2 ico" v-if="this.editable"  @click=ajout()>&#43;</p>
    <p class="col-2">{{totalLigne}} $</p>
    </div>
    </div>
</div>
</template>

<script>
export default {
  name: 'ligne',
  data: function () {
    console.log(this.editable)
    return {
      qte: 1
    }
  },
  props: ['id', 'nom', 'prix', 'editable'],
  methods: {
    ajout: function () {
      this.qte += 1
      this.$emit('maj', this.id, this.qte)
    },
    retrait: function () {
      this.qte -= 1
      this.$emit('maj', this.id, this.qte)
    }
  },
  computed: {
    totalLigne: function () {
      return this.qte * this.prix
    }
  }
}
</script>

<style>

</style>
