<template>
  <div id="app">
  <nav>
  <a class="main_logo" href="index.html">CART-LIST</a>
    <ul>
    <li><router-link to="/creer">Créer Liste</router-link></li>
    <li><router-link to="/voir-tous">Voir tous les produits</router-link></li>
    </ul>
    </nav>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
