$base-color: #d4d4aa;
$header-color: #e8871e;
$window-color: #edb458;

.liste{
    padding:10px;
    background-color: #e8871e;
    max-height:50px;
}

.ligne{
    background-color: #BAD4AA;
}

.main_logo {
    position:relative;
    bottom:20px;
    font-size: 3.2rem;
    font-family: "Finger Paint", cursive;
    text-decoration:none;
    color:black;
    padding:20px;
    border-bottom:solid 10px white;
    &:hover{
        text-decoration:none;
        color:white;
    }
}



/*-----submit components-----*/

.submit{
    background-color: $header-color;
    min-width:200px;
    border-radius: 5px;
    border: 1px black solid;
    &:hover{
        color:white;
        border-color:white;
    }
}



.erreur{
    color: red;
}

/*-----listes-----*/
.ligne{
    background-color: $base-color;
    border: 1px black solid;
    margin: 1% 5% 1% 5%;
}
.liste {
    background-color: $window-color;
    width: 40%;
    padding-bottom: 30%;
    margin: 3% 0 0 25%;
    border: 3px black solid;
    border-radius: 20px;
}
.total {
    color:white;
    font-size:1.5rem;
    text-align:right;
}
.ico {
    border: 2px solid black;
    max-width:50px;
    &:hover {
        cursor:pointer;
        color:white;
        border: 2px solid white;
    }
}
/*-----produits-----*/
#recherche{
    position:absolute;
    left:5%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}
#resultats-recherche {
    position:absolute;
    left:5%;
    top:375px;
    color:black;
    min-width:200px;
    border: 1px transparent solid;
    text-align:center;
    &:hover {
        background-color:rgba(30, 143, 255, 0.822);
        cursor:cell;
        border: 1px black solid;
        color:white;
    }
}

.produit{
    border: 1px black solid;
    position:relative;
    left:32%;
    text-align:center;
    margin-top:20px;
    width:700px;
    &:hover {
        color:white;
        border: 1px white solid;
    }
}
.pos-field {
    text-align:center;
}